<section class="bg-primary" id="about">
  <center><iframe width="560" height="315" src="https://www.youtube.com/embed/MMKoCv6Tfq4?version=3&loop=1&playlist=MMKoCv6Tfq4;rel=0&amp;controls=0&amp;showinfo=0;autoplay=1" frameborder="0" allowfullscreen></iframe></center>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Get Locked Today.</h2>
                <hr class="light">
                <p class="text-faded">Grep mutex provides a fast, off the shelf way to lock your application.</p>
                <a href="https://github.com/grepmutex/mutex" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
